[Unit]
Description=Grab wallpapers from NASA after network
After=suspend.target

[Service]
Environment="DISPLAY=:0"
ExecStart=/home/evan/bin/sun_wall

[Install]
WantedBy=suspend.target